<%- include('../../compartido/cabecera')%>

<div class="container">
    <% if(datos.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.error %>
        </div>
    <% } %>
<h1>Ruta mostrar usuario </h1>
    <a href="/usuario/ruta/crear-usuarios">
        <button type="button"
                class="btn btn-danger">
            Crear usuario
        </button>
    </a>

<%- include('../componentes/mostar-tabla',{
 usuarios: datos.usuarios
})
 %>

</div>
<%- include('../../compartido/pie-de-pagina')%>
