<%- include('../../compartido/cabecera')%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
<h1>Ruta mostrar usuario </h1>
    <a href="/usuario/ruta/crear-usuarios">
        <button type="button"
                class="btn btn-danger">
            Crear usuario
        </button>
    </a>

<%- include('../componentes/mostar-tabla',{
 usuarios: datos.usuarios
})
 %>

</div>
<%- include('../../compartido/pie-de-pagina')%>
